.list {
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
}
.button {
  padding: 2px;
  margin-left: 15px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;

  cursor: pointer;
  outline: none;
  border: inherit;
  border-radius: 5px;
  background-color: rgb(224, 172, 248);
}
